.nav-container {
  // box-sizing: border-box;
  // position: relative;
  // width: 100vw;
  // padding: 10px 5px;
  // margin-bottom: 1rem;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  > * {
    position: absolute;
    top: 1rem;
  }
  #nav-fab {
    right: 1rem;
  }
  #notifications-fab {
    left: 1rem;
  }
}
.notifications-list {
  .notification {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
    .close-btn {
      display: inline;
    }
    .notification-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .refuse-btn {
        margin-right: 0.5rem;
      }
    }
  }
}
