<div class="list-of-patients" *ngIf="patientsList.length > 0; else noPatients">
  <mat-card
    *ngFor="let patient of patientsList"
    class="feature-card card-theme"
    appearance="outlined"
    (click)="navigateToUserPage(patient)"
  >
    <div class="icon-container">
      <mat-icon
        class="feature-icon"
        svgIcon="account-circle"
        aria-hidden="false"
        aria-label="person icon"
      ></mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title
        ><h4>{{ patient.name }} {{ patient.surname }}</h4></mat-card-title
      >
    </mat-card-content>
  </mat-card>
</div>
<ng-template #noPatients>
  <mat-card class="feature-card card-theme" appearance="outlined">
    <div class="icon-container">
      <mat-icon
        class="feature-icon"
        svgIcon="person-off"
        aria-hidden="false"
        aria-label="person off icon"
      >
      </mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title>No patients to show</mat-card-title>
    </mat-card-content>
  </mat-card>
</ng-template>
