.list-of-patients {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.example-card {
  width: 40%;
  margin: 10px;
  img {
    border-radius: 100%;
    padding: 5px;
  }
}
