ao
<div class="list-of-patients">
  <mat-card
    *ngFor="let patient of patientsList"
    class="feature-card card-theme"
    appearance="outlined"
    (click)="navigateToUserPage(patient)"
  >
    <!-- class="feature-card card-theme"
    [routerLink]="['diary']"
    routerLinkActive="router-link-active" -->
    <div class="icon-container">
      <mat-icon
        class="feature-icon"
        svgIcon="account-circle"
        aria-hidden="false"
        aria-label="person icon"
      ></mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title>{{ patient.name }} {{ patient.surname }}</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>
