<section class="card">
  <div class="card-img">
    <img src="https://placehold.co/400" alt="Photo of a Shiba Inu" />
  </div>
  <div class="card-content">
    <h2>Patient Name</h2>
    <p>Email: urlaburla&#64;meil.com</p>
    <p>Age: 13</p>
    <label for="note">Note</label>
    <input type="text" name="note" />
    <div class="note-text">Anxiety disorder, ADHD</div>
  </div>
</section>
<section class="card" style="margin-top: 10px">
  <div class="patient-notes card-content">
    <h2>Notes</h2>
    <h3>Click to open the notes' tab.</h3>
  </div>
</section>
<section style="margin-top: 10px">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table"
  >
    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef>Tags</th>
      <td mat-cell *matCellDef="let element">{{ element.tags }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Link</th>
      <td mat-cell *matCellDef="let element">
        <a [href]="element.link" target="_blank" rel="noopener noreferrer">
          To the page
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
