<h4 class="text-accent">Search by</h4>
<form [formGroup]="searchForm">
  <mat-tab-group
    animationDuration="500ms"
    dynamicHeight
    class="search-bar"
    (selectedTabChange)="selectTab($event)"
  >
    <mat-tab label="Title">
      <mat-form-field class="search-form-control">
        <mat-label>Title</mat-label>
        <input matInput type="text" name="title" formControlName="title" />
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Tag">
      <mat-form-field class="search-form-control">
        <mat-label>Tag</mat-label>
        <input matInput type="text" name="tag" formControlName="tag" />
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Date">
      <div formGroupName="dateRange">
        <mat-form-field class="search-form-control">
          <mat-label>Date range:</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-hint
            >You can click on the calendar icon to view the full
            calendar</mat-hint
          >
        </mat-form-field>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="search-bar-btns">
    <button mat-stroked-button type="submit" (click)="makeFilteredSearch()">
      Search
    </button>
    <button mat-stroked-button type="submit" (click)="resetFilterSearch()">
      Reset Filters
    </button>
  </div>
</form>
