<app-quill-text-editor
  [sharable]="true"
  [note]="note"
  [id]="user!.id"
  [role]="user!.role"
  (saveNote)="updateNote($event)"
  (deleteNote)="delete(note.id)"
  [noteContentJSON]="note.content | json"
  (openHelpDialog)="toggleOverlayContainer = !toggleOverlayContainer"
></app-quill-text-editor>

{{ note.id }}

<mat-spinner class="spinner" [diameter]="50" *ngIf="saving"></mat-spinner>

<app-overlay-container
  *ngIf="toggleOverlayContainer"
  (toggleOverlayContainerVisibility)="
    toggleOverlayContainer = !toggleOverlayContainer
  "
>
  <div class="help-paragraph overlay-text">
    <p>
      Here is a short guide on how to use the text editor.<br />

      In the toolbar, you’ll find buttons and dropdown menus for formatting
      text. When an option is active, it will be highlighted in blue.
    </p>

    <p>
      From left to right, the toolbar includes: <br /><br />

      B – Bold: Applies bold formatting to the selected text. <br /><br />

      I – Italic: Italicizes the selected text. <br /><br />

      U – Underline: Underlines the selected text. <br /><br />

      S – Overline: Adds an overline to the selected text. <br /><br />

      Next, there is a dropdown for selecting a title for the page (choose from
      Heading 1 to Heading 4). <br /><br />

      Following that, you’ll see the list section, which lets you create ordered
      lists, unordered lists, and checklists. <br /><br />

      There are also buttons for changing the text color or highlighting it with
      a specific color. <br /><br />

      Additionally, you have controls for selecting the font and text size.
      <br /><br />

      Tx – Reset: Removes all formatting from the selected text. <br /><br />

      Finally, the options button allows you to save notes, change their
      visibility (whether to make them available to your therapist), delete a
      note, and open the help dialog.

      <br />
      <br />

      The first line of text will be used as note title.
    </p>
  </div>
</app-overlay-container>
