<div *ngIf="therapistsList.length > 0; else loading">
  <div class="therapists-list">
    <div *ngFor="let therapist of therapistsList" class="card-content">
      <p class="tp-name" title="{{ therapist.name }} {{ therapist.surname }}">
        {{therapist ? `${therapist.name} ${therapist.surname}` : 'Unable to receive therapist data.'}}
      </p>
      <button
        mat-flat-button
        (click)="selectTherapist(therapist.id)"
        class="selection-btn"
      >
        Select this therapist
      </button>
    </div>
  </div>
</div>
<ng-template #loading>
  <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>
