<div class="tp-card">
  <div class="img-container">
    <mat-icon
      *ngIf="therapistId && therapistId > 0; else searchBlock"
      class="tp-img"
      svgIcon="face"
      aria-hidden="false"
      aria-label="person icon"
    ></mat-icon>
    <ng-template #searchBlock>
      <mat-icon
        class="tp-img"
        svgIcon="person-search"
        aria-hidden="false"
        aria-label="person icon"
      ></mat-icon>
    </ng-template>
  </div>
  <section>
    <div [ngSwitch]="therapistId">
      <div *ngSwitchCase="null">
        <h3>Select a therapist</h3>
        <span> To start sharing your notes, select a therapist first. </span>
      </div>
      <div *ngSwitchCase="undefined">
        <h3>Unable to receive therapist data.</h3>
      </div>
      <div *ngSwitchCase="0">
        <h3>Waiting for therapist response.</h3>
      </div>
      <div *ngSwitchDefault>
        <h3>
          {{`${therapist?.name} ${therapist?.surname}`}}
        </h3>
        <p>This is the therapist you selected.</p>
      </div>
    </div>
    <p>
      When you set a page "shared" it will be accessible to him/her as well.
      <br />
      You can change this setting at any time. <br />
      You will also be able to unlink your therapist if necessary. With that,
      all access to previously shared pages will be lost and you will be able to
      select a new one. <br />
    </p>
  </section>
  <button
    *ngIf="therapistId !== 0"
    mat-flat-button
    (click)="
      therapistId && therapistId > 0 ? unlinkTherapist() : openTherapistsList()
    "
    [ngClass]="[therapistId !== null ? 'unlink-btn' : 'select-btn']"
  >
    {{ therapistId !== null ? "Unlink your therapist" : "Select a therapist" }}
  </button>
</div>

<app-overlay-container
  *ngIf="toggleOverlayContainer && therapistId != 0"
  (toggleOverlayContainerVisibility)="
    toggleOverlayContainer = !toggleOverlayContainer
  "
>
  <app-list-of-all-therapists></app-list-of-all-therapists>
</app-overlay-container>
