#discharge-patient-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: crimson;
}
.card {
  position: relative;
}

.icon-container {
  margin: 15px;
  width: 33vw;
  height: 33vw;
  border-radius: 50%;
  background-color: white;
  box-shadow: 2px 2px 3px lightgrey;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .feature-icon {
    width: 30vw;
    height: 30vw;
  }
}

.patient-notes {
  width: 100%;
}

.note-content {
  padding: 0.5rem;
}
