<section class="card card-theme p-card">
  <button
    mat-icon-button
    (click)="dischargePatient()"
    id="discharge-patient-btn"
  >
    <mat-icon>person_remove</mat-icon>
  </button>
  <div class="icon-container">
    <mat-icon
      class="feature-icon"
      svgIcon="account-circle"
      aria-hidden="false"
      aria-label="person icon"
    ></mat-icon>
  </div>
  <div class="card-content">
    <h2>{{ patient?.name }} {{ patient?.surname }}</h2>
  </div>
</section>
<section class="card" style="margin-top: 10px">
  <div class="patient-notes card-content">
    <h2>Note</h2>
    <app-note-viewer [note]="note"></app-note-viewer>
  </div>
</section>
<section style="margin-top: 10px">
  <table mat-table [dataSource]="patientNotes" matSort>
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by title"
      >
        Title
      </th>
      <td mat-cell *matCellDef="let note">{{ note.title }}</td>
    </ng-container>

    <!-- Tags Column -->
    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef>Tags</th>
      <td
        mat-cell
        *matCellDef="let note"
        [ngStyle]="{ color: !note.tags ? 'lightgray' : '' }"
      >
        <mat-chip-set *ngIf="note.tags; else noTags">
          <mat-chip *ngFor="let tag of note.tags">
            {{ tag?.name }}
          </mat-chip>
        </mat-chip-set>
        <ng-template #noTags> "No tags avaliable" </ng-template>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by date"
      >
        Date
      </th>
      <td mat-cell *matCellDef="let note">
        {{ note.date | date : "short" }}
      </td></ng-container
    >

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef>Open</th>
      <td mat-cell *matCellDef="let note">
        <button
          mat-icon-button
          aria-label="Edit icon"
          [disabled]="note?.id == 1"
          (click)="openNote(note)"
        >
          <mat-icon>article</mat-icon>
        </button>
      </td></ng-container
    >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
<app-overlay-container
  *ngIf="toggleOverlayContainer"
  (toggleOverlayContainerVisibility)="
    toggleOverlayContainer = !toggleOverlayContainer
  "
>
  <div [innerHTML]="noteContent" class="note-content"></div>
</app-overlay-container>
