.icons-container {
  padding: 12px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card {
  width: 90vw;
  .card-img {
    width: 50vw;
    img {
      width: inherit;
      border-radius: 100%;
    }
  }
  .card-content {
    width: 80vw;
  }
}
