@use "@angular/material" as mat;
@use "sass:color";
@import "../node_modules/quill/dist/quill.snow.css";

/* You can add global styles to this file, and also import other style files */
$accent-color: #ff7850;
$primary-color: #ff5032;
$text-primary-color: #241103;
$text-secondary-color: #fff9ec;
$background-primary-color: #fff5ee;
$background-secondary-color: #362321;

:root {
  @include mat.table-overrides(
    (
      background-color: $background-primary-color,
      header-headline-color: $primary-color,
      row-item-label-text-color: $accent-color,
    )
  );
  @include mat.fab-overrides(
    (
      container-color: $accent-color,
      foreground-color: $text-secondary-color,
      state-layer-color: $primary-color,
      ripple-color: color.scale($color: $accent-color, $lightness: 20%),
      hover-state-layer-opacity: $primary-color,
    )
  );
  @include mat.form-field-overrides(
    (
      filled-caret-color: $text-primary-color,
      filled-focus-active-indicator-color:
        color.scale($color: $accent-color, $lightness: 20%),
      filled-focus-label-text-color: $text-primary-color,
      filled-container-color: white,
      filled-hover-label-text-color:
        color.scale($color: $text-primary-color, $lightness: 20%),
      filled-label-text-color: $text-primary-color,
      filled-input-text-color: $text-primary-color,
      filled-error-hover-label-text-color: red,
      filled-error-focus-label-text-color: red,
      filled-error-label-text-color: red,
      filled-error-caret-color: red,
      filled-error-active-indicator-color: red,
    )
  );
  @include mat.radio-overrides(
    (
      selected-hover-icon-color: $primary-color,
      selected-focus-icon-color: $accent-color,
      selected-icon-color: $accent-color,
      selected-pressed-icon-color:
        color.scale($color: $accent-color, $lightness: 20%),
      ripple-color: orange,
      checked-ripple-color: orange,
      label-text-color: $text-primary-color,
    )
  );
  @include mat.button-overrides(
    (
      filled-container-color: $accent-color,
      filled-label-text-color: $text-secondary-color,
      filled-disabled-container-color: rgba(255, 120, 80, 0.5),
      outlined-outline-color: $accent-color,
      outlined-state-layer-color: $primary-color,
      outlined-focus-state-layer-opacity: $primary-color,
      outlined-label-text-color: $primary-color,
      outlined-ripple-color: rgba(255, 120, 80, 0.5),
    )
  );
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: orange,
      track-color: $primary-color,
    )
  );

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: orange,
    )
  );
  @include mat.chips-overrides(
    (
      outline-color: $primary-color,
      label-text-color: $text-secondary-color,
      elevated-container-color: $accent-color,
    )
  );
  @include mat.tabs-overrides(
    (
      active-focus-label-text-color: $primary-color,
      active-hover-label-text-color: $primary-color,
      active-label-text-color: $primary-color,
      active-indicator-color: $primary-color,
      inactive-label-text-color: lightgray,
      active-focus-indicator-color: $accent-color,
      active-hover-indicator-color: $accent-color,
      divider-color: lightgray,
    )
  );
  @include mat.snack-bar-overrides(
    (
      button-color: $accent-color,
      supporting-text-color: $primary-color,
    )
  );
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 5px 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .form {
    background-color: $background-primary-color;
    box-shadow: 0px 0px 3px lightgray;
    color: $accent-color;
    .title {
      color: $accent-color;
    }
    .radio-label {
      margin-top: 10px;
      font-weight: 450;
      color: $text-primary-color;
    }
    mat-error {
      color: red;
    }
  }

  .tooltip {
    position: absolute;
    bottom: 100%;
    z-index: 10;
    border-radius: 15px;
    border-top: 2px solid $accent-color;
    background-color: $background-primary-color;
    color: $text-primary-color;
    padding: 1rem;
  }

  .card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border-radius: 24px;
    // background-color: $background-primary-color;
    // border: none;
    // box-shadow: 0px 0px 3px lightgray;
    // color: $accent-color;
    .card-img {
      margin: 5px;
    }
    .card-content {
      margin: 5px;
    }
  }

  .card-theme {
    border-radius: 24px;
    background-color: $background-primary-color;
    border: none;
    box-shadow: 0px 0px 3px lightgray;
    color: $accent-color;
  }

  .screen-overlay {
    @include mat.icon-overrides(
      (
        color: white,
      )
    );
    #overlay-close-btn {
      background-color: $accent-color;
    }
    .overlay-text {
      font-size: 1rem;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      //DA CAMBIARE!
    }
  }

  //Quill text editor classes

  .ql-toolbar {
    background-color: $accent-color;
    border-radius: 15px 15px 0 0;
    border: 1px solid grey;
    border-bottom: none;
  }
  .ql-formats {
    margin: 8px 0;
  }
  .ql-container {
    border-radius: 0 0 15px 15px;
    min-height: 300px;
    max-height: 90vh;
    overflow-y: auto;
  }

  .spinner {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
  }

  .notifications-list {
    .notification {
      background-color: $background-primary-color;
      color: $primary-color;
      .notification-body {
        color: $text-primary-color;
      }
    }
    .close-btn {
      @include mat.icon-overrides(
        (
          color: red,
        )
      );
    }
    .accept-btn {
      @include mat.icon-overrides(
        (
          color: green,
        )
      );
    }
    .reject-btn {
      @include mat.icon-overrides(
        (
          color: red,
        )
      );
    }
  }

  .feature-card {
    width: 40%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    .icon-container {
      margin: 15px;
      background-color: white;
      width: 30vw;
      height: 30vw;
      border-radius: 50%;
      align-self: center;
      box-shadow: 2px 2px 3px lightgrey;
      display: flex;
      align-items: center;
      justify-content: center;
      .feature-icon {
        width: 22vw;
        height: 22vw;
      }
    }
    img {
      border-radius: 100%;
      padding: 5px;
    }
  }
}
