<div class="list-of-patients-container">
  <mat-card class="example-card" appearance="outlined">
    <img
      mat-card-image
      src="https://placehold.co/400"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <mat-card-title style="color: white">Shiba Inu</mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img
      mat-card-image
      src="https://placehold.co/400"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <mat-card-title style="color: white">Shiba Inu</mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img
      mat-card-image
      src="https://placehold.co/400"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <mat-card-title style="color: white">Shiba Inu</mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <img
      mat-card-image
      src="https://placehold.co/400"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <mat-card-title style="color: white">Shiba Inu</mat-card-title>
    </mat-card-content>
  </mat-card>
</div>
