<section class="card tp-card card-theme">
  <app-therapist-card></app-therapist-card>
</section>
<div class="list-of-features">
  <mat-card
    class="feature-card card-theme"
    appearance="outlined"
    [routerLink]="['personal-notes']"
    routerLinkActive="router-link-active"
  >
    <div class="icon-container">
      <mat-icon
        class="feature-icon"
        svgIcon="diary"
        aria-hidden="false"
        aria-label="person icon"
      ></mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title><h4 class="two-lined-text">Diary</h4></mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card
    class="feature-card card-theme"
    appearance="outlined"
    [routerLink]="['calendar']"
    routerLinkActive="router-link-active"
  >
    <div class="icon-container">
      <mat-icon
        class="feature-icon"
        svgIcon="calendar"
        aria-hidden="false"
        aria-label="person icon"
      ></mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title><h4 class="two-lined-text">Calendar</h4></mat-card-title>
    </mat-card-content>
  </mat-card>
  <mat-card
    class="feature-card card-theme"
    appearance="outlined"
    (click)="dailyNoteConfirm()"
    routerLinkActive="router-link-active"
  >
    <div class="icon-container">
      <mat-icon
        class="feature-icon"
        svgIcon="calendar-daily"
        aria-hidden="false"
        aria-label="person icon"
      ></mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title
        ><h4 class="two-lined-text">Daily Note</h4></mat-card-title
      >
    </mat-card-content>
  </mat-card>
</div>
